.container {
    display: grid;
    grid-template-areas:
        'header header',
        'sidebar content';
    gap: 10px;
    grid-template-column: 150px, 1fr;
    grid-template-rows: 50px, 1fr;
}

.header {
    grid-template-area: header;
}

.sidebar {
    grid-template-area: sidebar;
    align-self: start;
}

.content {
    grid-template-area: content;
}

.item {
    border: 1px solid black;
    padding: 5px;
}